<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario De Carrera</title>
    <link rel="stylesheet" data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link href="/images/favicon.png" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <!-- Carga de la hoja de estilos personalizada -->
    <link rel="stylesheet" type="text/css" data-th-href="@{/css/styles.css}">
</head>
<body>
<div class="container">
	<div class="row"><header data-th-replace="~{fragments/header::header}"></header> </div>

		<div class="row mt-5">
        <h2 th:text="${isEdit} ? 'Modificar Carrera' : 'Formulario de Carrera'"></h2>
        <form class="row g-3" th:action="@{/carrera/guardar}" th:object="${carrera}" method="post">
            <div>
                <input type="hidden" class="form-control" id="codigo" name="codigo" th:field="*{codigo}">
            </div>
            <div class="form-floating col-md-6">
                <input type="text" class="form-control" id="nombre" name="nombre" th:field="*{nombre}" placeholder="Nombre" required>
                <label for="nombre">Nombre</label>
            </div>
            <div class="form-floating col-md-6">
                <input type="number" class="form-control" id="cantidadAnios" name="cantidadAnios" th:field="*{cantidadAnios}" placeholder="Cantidad de Años" required>
                <label for="cantidadAnios">Cantidad de Años</label>
            </div>
            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="estado" name="estado" th:field="*{estado}">
                    <label class="form-check-label" for="estado">Estado</label>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center gap-2">
                <input type="submit" class="btn btn-lg btn-success" th:value="${isEdit} ? 'Modificar' : 'Agregar'">
                <a class="btn btn-lg btn-secondary" href="/carrera/listaCarreras">Regresar</a>
            </div>
        </form>
    </div>
		
		<div class="row"><footer data-th-replace="~{fragments/footer::footer}"></footer></div>
</div>
<script data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>