<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario De Carrera</title>
    <link rel="stylesheet" data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link href="/images/favicon.png" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <!-- Carga de la hoja de estilos personalizada -->
    <link rel="stylesheet" type="text/css" data-th-href="@{/css/styles.css}">
</head>
<body>
<div class="container">
	<div class="row"><header data-th-replace="~{fragments/header::header}"></header> </div>

		<form class="row g-2 mt-2" th:action="@{/carrera/guardar}">
				<h2>Información de la Carrera</h2>
				<div>
					<input type="hidden" class="form-control" id="codigoMateria" name="codigoMateria">
				</div>
			<div class="row">
				<div class="form-floating mb-3 col-md-6">
					<input type="text" class="form-control" id="nombreCarrera" placeholder="name@example.com" name="nombreCarrera">
					<label for="nombreCarrera" class=" label-lg h2">Nombre</label>
				</div>
				<div class="form-floating col-md-6">
					<input type="number" class="form-control" id="añosCarrera" placeholder="Años" name="añosCarrera">
					<label for="añosCarrera" class="label-lg h2">Años</label>
				</div>
				<div class="col-12">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" id="boolCarrera" name="boolCarrera">
						<label class="form-check-label label-lg h2" for="boolCarrera">Estado</label>
					</div>
				</div>
			</div>
			<div class="col-12">
				<button type="submit" class="btn btn-info btn-lg h3">Agregar</button>
			</div>
		</form>
		<div class="row"><footer data-th-replace="~{fragments/footer::footer}"></footer></div>
</div>
<script data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>