<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link href="/images/favicon.png" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <!-- Carga de la hoja de estilos personalizada -->
    <link rel="stylesheet" type="text/css" data-th-href="@{/css/styles.css}">
</head>
<body>
<div class="container">
	<div class="row"><header data-th-replace="~{fragments/header::header}"></header> </div>
	
	
	<div class="row"><footer data-th-replace="~{fragments/footer::footer}"></footer></div>
</div>
<script data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>